<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conexao</servlet-name>
        <servlet-class>Conexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conn</servlet-name>
        <servlet-class>Conn.Conn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarClientes</servlet-name>
        <servlet-class>listarProduto.listarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dados</servlet-name>
        <servlet-class>Model.Dados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastro</servlet-name>
        <servlet-class>cadastro.cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lsid</servlet-name>
        <servlet-class>lsid.lsid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarPerfil</servlet-name>
        <servlet-class>editarPerfil.editarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePerfil</servlet-name>
        <servlet-class>updatePerfil.updatePerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>senha</servlet-name>
        <servlet-class>senha.Senha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Senha</servlet-name>
        <servlet-class>senha.Senha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirCliente</servlet-name>
        <servlet-class>excluirCliente.excluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProduto</servlet-name>
        <servlet-class>searchProduto.searchProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalhes</servlet-name>
        <servlet-class>detalhes.detalhes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produto_detalhe</servlet-name>
        <servlet-class>produto_detalhe.produto_detalhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarPedido</servlet-name>
        <servlet-class>listarPedido.listarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedido</servlet-name>
        <servlet-class>pedido.itens_pedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedido_detalhe</servlet-name>
        <servlet-class>pedido.pedido_detalhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produto_pedido</servlet-name>
        <servlet-class>pedido.produto_pedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarendereco</servlet-name>
        <servlet-class>endereco.listarendereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conexao</servlet-name>
        <url-pattern>/Conexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conn</servlet-name>
        <url-pattern>/Conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarClientes</servlet-name>
        <url-pattern>/listarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dados</servlet-name>
        <url-pattern>/Dados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastro</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lsid</servlet-name>
        <url-pattern>/lsid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarPerfil</servlet-name>
        <url-pattern>/editarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePerfil</servlet-name>
        <url-pattern>/updatePerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Senha</servlet-name>
        <url-pattern>/Senha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirCliente</servlet-name>
        <url-pattern>/excluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProduto</servlet-name>
        <url-pattern>/searchProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalhes</servlet-name>
        <url-pattern>/detalhes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produto_detalhe</servlet-name>
        <url-pattern>/produto_detalhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarPedido</servlet-name>
        <url-pattern>/listarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedido</servlet-name>
        <url-pattern>/itens_pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedido_detalhe</servlet-name>
        <url-pattern>/pedido_detalhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produto_pedido</servlet-name>
        <url-pattern>/produto_pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarendereco</servlet-name>
        <url-pattern>/listarendereco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
